<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templates</title>
</head>
<body class="layout__body">

  {{> header }}

  {{> sidebar }}
        
  <p>Hello! {{ firstName }} </p>
  <p>HELLO! {{ capitals firstName }} </p>
  <p>Sum: {{ sum 1 2 }} </p>
  
  {{> footer }}
  
  <script type="text/javascript" src="scripts/scripts.min.js"></script>
</body>
</html>